<!DOCTYPE html>
<html lang="zh-cmn-Hans" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="common/link::header"></th:block>
    <title>单个文件上传</title>
</head>
<body>
<form id="uploadForm" enctype="multipart/form-data" >
    <label for="name">姓名：</label><input id="name" name="name"/>
    <label for="age">年龄：</label><input id="age" name="age"/>
    <label for="file">照片：</label><input type="file" id="file" name="file"/>
    <button type="button" name="submit" id="submit"> 提交 </button>
</form>
<th:block th:include="common/script::foot"></th:block>
<script >
    $(function () {
        $('#submit').click(function () {
            var formData = new FormData();
            formData.append("file",document.getElementById("file").files[0]);
            formData.append("name",document.getElementById("name").value);
            formData.append("age",document.getElementById("age").value);
            $.ajax({
                url:"upload",
                type:"post",
                contentType:false,
                processData: false,
                data:formData,
                success:function (data) {
                    console.log(data);
                },
                error: function () {
                    console.log("上传失败！");
                }
            });
        });
    });
</script>
</body>
</html>